# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.pyc 
*.pt

# C extensions
*.so

# Distribution / packaging
dist/
build/
*.egg-info/

# Virtual environments
venv/
env/
.venv/
ENV/

# IDEs and editors
.idea/
.vscode/
*.pydevproject
*.pyc
*.pyo
*.sage.py

# Jupyter Notebook
.ipynb_checkpoints/

# Other
*.log
*.bak
*.swp
*.sqlite3
*.DS_Store
